<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Friend's profile</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content class="ion-padding" [fullscreen]="true">
 <!--  <div class="preview">
    <ion-avatar (click)="changeImage()">
      <img  [src]="imageUrl">
    </ion-avatar>
    
  </div>  -->
  <ion-item fill="solid">
    <ion-label>User email: {{friendEmail}}</ion-label>
  </ion-item>
  <ion-item fill="solid">
    <ion-label>Username: {{friendUsername}}</ion-label>
  </ion-item>
  <ion-item fill="solid">
    <ion-label>Date of birth: {{friendDateOfBirth | date:'YYYY-MM-dd'}}</ion-label>
  </ion-item>
  
</ion-content>
