<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <form [formGroup]="resetForm" (ngSubmit)="sendPasswordResetEmail()">

    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      <ion-note slot="end" *ngIf="resetForm?.get('email')?.invalid && resetForm?.get('email')?.touched">
        <span *ngIf="resetForm.get('email')?.hasError('required')">Email is required.</span>
        <span *ngIf="resetForm.get('email')?.hasError('email')">Invalid email format.</span>
      </ion-note>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!resetForm.valid">Send email</ion-button>
    <ion-button expand="full" type="button" (click)="redirectToLogin()" >Back to login</ion-button>
  </form>
</ion-content>
