<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Friends</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-label>Search users</ion-label>
    <ion-searchbar [(ngModel)]="searchTerm" (input)="searchUser(searchTerm)" (ionClear)="clearSearchTerm()"></ion-searchbar>
    <ion-list>
      <ng-container *ngFor="let result of results async">
        <ion-item *ngIf="result.uid !== currentUserUid">
          <ion-avatar *ngIf="result?.imageUrl;">
            <img [src]="result.imageUrl">
          </ion-avatar>
          <ion-label>{{ result.username }}</ion-label>
          <ion-button *ngIf="!isFriend(result.uid)" slot="end" (click)="sendFriendRequest(result.uid)">Add</ion-button>
        </ion-item>
      </ng-container>
    </ion-list>
  </ion-card>

  <!-- <ion-title>Your friend requests</ion-title> -->
  <ion-card>
    <ion-list>
      <ion-item *ngIf="friendRequests.length === 0">
        <ion-label>No new friend requests</ion-label>
      </ion-item>
      <ion-card *ngFor="let request of friendRequests async">
        <ion-item>
          <ion-label>{{ request.date | date }}</ion-label>
        </ion-item>
        <ion-item>
          <img class="profile-picture" slot="start" *ngIf="request.imageUrl;" [src]="request.imageUrl">
          <ion-label>{{ request.senderUserUsername }}</ion-label>
        </ion-item>
        <ion-button expand="full" (click)="changeFriendRequestStatus(1, request.senderUserUid)">Accept</ion-button>
        <ion-button expand="full" (click)="changeFriendRequestStatus(0, request.senderUserUid)">Reject</ion-button>
      </ion-card>
    </ion-list>
  </ion-card>
  
  <ion-card>
    <ion-list>
      <ion-label>Your friends</ion-label>
      <ion-card *ngFor="let friend of friends">
        <ion-item class="friend-item">
          <ion-avatar>
            <img [src]="friend.imageUrl">
          </ion-avatar>
          
          <ion-label>{{ friend.username }}</ion-label>
  
          <!-- View profile button with person icon -->
          <ion-button class="friend-button" (click)="redirectToFriendProfile(friend.uid)">
            <ion-icon name="person"></ion-icon>
            
          </ion-button>
  
          <!-- Delete button with bin icon -->
          <ion-button class="friend-button" (click)="deleteFriend(friend.uid)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-card>
    </ion-list>
  </ion-card>
  
  
</ion-content>
