<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Friends</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar [(ngModel)]="searchTerm" (input)="searchUser(searchTerm)" (ionClear)="clearSearchTerm()"></ion-searchbar>

  <ion-card>
    <ion-list>
      <ion-item *ngFor="let result of results async">
        <img class="profile-picture" slot="start" *ngIf="result?.imageUrl;" [src]="result.imageUrl">
        <ion-label>{{ result.username }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
