<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create post</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-textarea class="ion-padding" placeholder="Enter your post text" [(ngModel)]="postText"></ion-textarea>

    <img [src]="imageLocalPath" *ngIf="imageLocalPath" class="image-preview">
    <ion-button expand="full" (click)="selectImage()" >Select image to post</ion-button>

    <ion-button expand="full" (click)="createPost()" [disabled]="isPostCreated || isPostTextEmpty()">Create post</ion-button>
  </ion-card>
</ion-content>
