<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Trending</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button *ngFor="let item of movies" [routerLink]="[item.id]">
      <ion-avatar slot="start">
        <img [src]="imageBaseUrl + '/w92' + item.poster_path">
      </ion-avatar>
      <ion-label>
        {{item.title}}
        <p>{{item.release_date | date:'y'}}</p>
      </ion-label>
      <ion-badge slot="end">{{item.vote_average}}</ion-badge>

    </ion-item>
  </ion-list>
  
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="loading more movies..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
